.name {
    margin: 0;
    font-size: 18px;
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info {
    text-align: left;
  }
  .img {
    width: 100px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
  }